*.iobj
*.ipdb
*.ilk
*.vcxproj.user
*.tlog
*.obj
*.idb
*.recipe

.vs
bin/log
bin/__pycache__
bin/win32/debug
bin/win32/release
bin/hlog2.intlog
bin/log4cxx.properties
/bin/LocalRecordDownloader.exe
/bin/LocalRecordDownloader.pdb
/bin/LocalRecordDownloader_d.exe
/bin/LocalRecordDownloader_d.pdb
user-data

